@{
    Layout = null;
}
<head>
    <title>Mortal Kombat!</title>
    <link type="text/css" rel="stylesheet" href="~/css/home.css">
</head>
<body class="background">
    <a class="button-iniciar" asp-area="" asp-controller="Lutadores" asp-action="Selecao">INICIAR</a>
    <a class="button-sobre" asp-area="" asp-controller="Home" asp-action="Sobre">SOBRE</a>    
</body>
<footer>
    <div class="descritivo">
        (para uma melhor experiência ative o modo fullscreen e o audio de seu navegador)
    </div>  

</footer>