@{
    Layout = null;
}
<head>
    <title>Mortal Kombat!</title>
    <link type="text/css" rel="stylesheet" href="~/css/sobre.css">
    <a class="button-retornar" asp-area="" asp-controller="HOME" asp-action="Index">RETORNAR</a>
</head>
<body class="background">
    <div class="titulo"> 
    <h1>Sobre o projeto</h1>
    </div>
    <br>
    <div class="regras">
        <a>Regras: O torneio possui regras pré-definidas, sendo estas 16 lutadores com seus atributos também pré-definidos
            (Idade, Artes Marciais, Total de Lutas, Vitórias e Derrotas). O critério de vitória é definido pela porcentagem
            de vitórias. Os lutadores se enfrentam em um sistema de chaves de oitavas e quartas de final,
            seguido pela semifinal. A ordem dos confrontos é definida pela idade, ou seja, o mais jovem enfrenta o
            segundo mais jovem, o terceiro enfrenta o quarto mais jovem, e assim por diante.</a>
    </div>
    <br />
    <div class="ideia">
        <a>
            Idéia: Aproveitando o lançamento de Mortal Kombat 1, resolvi criar minha própria versão do torneio de Mortal Kombat.
            Também me inspirei um pouco na estética neon, que pessoalmente me agrada.
        </a>
    </div>
    <div class="criacao">
        <a>
            Criação: O projeto foi criado utilizando ASP.NET, separado em camadas e utilizando o .NET 7. Foram utilizadas algumas bibliotecas,
            como o EntityFramework, e a ferramenta SQL para acesso e modificação do banco de dados.
        </a>
    </div>

</body>
<footer>
    <div class="desenvolvido">
        <a>
           Lucas Marques - 2023
        </a>
    </div>
</footer>